<!doctype html>
<html lang="{{ site.locale }}"{% if body_class %} class="{{ body_class }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <title>{% unless page.inputPath contains 'index' %}{{ title %}} – {% endunless %}{{ site.title }}</title>

    <link rel="icon" href="/images/favicon.ico" sizes="512x512">
    <link rel="apple-touch-icon" href="/images/favicon-180.png">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-180.png">
    <link rel="msapplication-square310x310logo" href="/images/favicon-310.png">

    <link rel="author" href="/humans.txt">
    <link rel="manifest" type="application/manifest+json" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="msapplication-starturl" content="{{ site.url }}">
    <meta name="description" content="{{ description | default: site.description }}">
    <meta name="theme-color" content="#5b5496">
    <meta name="msapplication-navbutton-color" content="#5b5496">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="https://chrisburnell.com/css/main.min.css">

    <!-- Overwrite some styles -->
    <link rel="stylesheet" href="/css/main.css">

    <meta name="robots" content="noindex,nofollow">
</head>

<body>

    <header class="wrap">

        <a rel="home" class="logo" href="/" title="{{ site.title }}">
            <picture class="icon">
                <source srcset="/images/logo.webp"
                        type="image/webp" />
                <img alt="" class="icon"
                    src="/images/logo.jpg"
                    role="img">
            </picture>
        </a>

        {% include partials/navigation.liquid %}

    </header>
